ZCSAvatarCaptureDemo.xcodeproj/project.xcworkspace/xcuserdata/jerry.xcuserdatad/UserInterfaceState.xcuserstate
ZCSAvatarCaptureDemo.xcodeproj/xcuserdata/jerry.xcuserdatad/xcschemes/xcschememanagement.plist
ZCSAvatarCaptureDemo.xcodeproj/xcuserdata/jerry.xcuserdatad/xcschemes/ZCSAvatarCaptureDemo.xcscheme
